/* colors */
:root {
  --title-color: rgb(33, 33, 33);
  --text-color: rgb(117, 117, 117);
  --accent-color: rgb(33, 150, 243);
  --white-color: rgb(255, 255, 255);
  --background-color: rgb(245, 244, 250);
  --logo-color-black: rgb(0, 0, 0);
  --h1-background-color: rgb(47, 48, 58);
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

/* main styles */

body {
  color: var(--text-color);
  background-color: var(--white-color);
  font-family: 'roboto', sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
}

/* * {
  outline: 1px solid tomato;
} */

/* Current link */

.navigation .current-link {
  color: var(--accent-color);
}

/*PAGE-CONTAINERS*/

.header-container,
.main-container,
.footer-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* HIDDEN */

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*HEADER 
>
LOGO */

.header-logo,
.footer-logo {
  font-family: 'raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
}

.header-logo {
  color: var(--logo-color-black);
}

.footer-logo {
  color: var(--white-color);
}

.header-logo-part,
.footer-logo-part {
  color: var(--accent-color);
}

/* HEADER LINKS */

.navigation-links {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contact-links-header {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-links:hover,
.navigation-links:focus {
  color: var(--accent-color);
}

.contact-links-header:hover,
.contact-links-footer:hover,
.contact-links-header:focus,
.contact-links-footer:focus {
  color: var(--accent-color);
}

/* POSITIONING HEADER */

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation,
.contact-links {
  display: flex;
  align-items: center;
}

.contact-links > li:not(:last-child) {
  margin-right: 50px;
}

.header-logo {
  margin-right: 93px;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

/* INDEX.HTML 
>
Main Page - HERO */

.features {
  background-color: var(--h1-background-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.features-hero {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.features-hero-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);

  margin-top: 30px;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 30px;
}

/* FEATURES */

.features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--title-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
  text-align: left;
}

.features-item {
  margin-right: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.features-list {
  display: flex;
  margin-right: -30px;
  flex-wrap: wrap;
}

.features-section {
  padding-top: 94px;
}

/* WE DO SECTION*/

.we-do-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.we-do-img-list {
  display: flex;
  margin-top: 50px;
  margin-right: -30px;
  flex-wrap: wrap;
}

.we-do-img-item {
  margin-right: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.we-do-title,
.team-members-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

/* TEAM MEMBERS SECTION */

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}

.team-members-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-right: -30px;
}

.team-members-item {
  flex-basis: calc(100% / 4 - 30px);
  background-color: var(--white-color);
  margin-right: 30px;
  border-radius: 4px;
}

.team-members-person {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--title-color);
  text-align: center;
}

.team-members-role {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 10px;
  text-align: center;
}

.team-members-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Footer - address and contact links */

.address-text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}

.contact-links-footer {
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-text-color);
}

/* FOOTER Positioning*/

.address {
  background-color: var(--h1-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-container {
  margin-top: 20px;
  display: block;
}

.footer-contact-list {
  margin-top: 9px;
}

.footer-contact-item {
  margin-top: 9px;
}

/* PORTFOLIO.HTML
>
FILTER BUTTONS*/

.projects-filter-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: var(--title-color);
  background-color: var(--background-color);
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  outline: none;
}

.projects-filter-button:hover,
.projects-filter-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.projects-filter:not(:last-child) > li {
  margin-right: 8px;
}

/* OUR WORKS - IMAGES */

.project-img-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-img-txt {
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.project-container {
  display: block;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project-images-item {
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}
